{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Deustotil</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body class="cuerpo-principal">

    <header class="header">
        <a href="{% url 'index' %}" class="link-logo">
            <h1 class="titulo-header">Deustotil</h1>
        </a>
        <section class="navegacion">
            <a href="{% url 'lista_empleado' %}" class="botones">Empleados</a>
            <a href="{% url 'lista_cliente' %}" class="botones">Clientes</a>
            <a href="{% url 'lista_proyecto' %}" class="botones">Proyectos</a>
            <a href="{% url 'lista_tarea' %}" class="botones">Tareas</a>
        </section>
    </header>

    <article class="contenido-principal">
        {% block content %} {% endblock %}
    </article>

    <footer class="pie">
        <div>
            <h3 class="mensaje-ayuda">¿Necesitas ayuda con un proyecto? Estamos listos para colaborar contigo.</h3>
        </div>

        <form method="POST"   class="form-contacto">
            {% csrf_token %}
            <div class="fila-input">
                <div class="campo-input">
                    <label for="nombre" class="nombre_label">Nombre</label>
                    <input type="text" id="nombre" name="nombre" required class="input-campo">
                </div>
                <div class="campo-input">
                    <label for="apellidos" class="nombre_label">Apellido</label>
                    <input type="text" id="apellidos" name="apellidos" required class="input-campo">
                </div>
            </div>
            <div class="campo-descripcion">
                <label for="descripcion" class="nombre_label">Descripción del proyecto:</label>
                <textarea id="descripcion" name="descripcion" rows="5" required class="textarea-proyecto"></textarea>
            </div>
            <button type="submit" class="boton-enviar">
                ENVIAR
            </button>
        </form>
        <div class="contacto-info">
            <p class="info-telefono">📞 <strong>Teléfono:</strong> +34 123 456 789</p>
            <p>📧 <strong>Email:</strong> contacto@deustotil.com</p>
            <p>📸 <strong>Instagram:</strong> <a href="https://instagram.com/deustotil" target="_blank"
                    class="link-instagram">@deustotil</a></p>
        </div>
    </footer>
    {% block scripts %}{% endblock %}

</body>

</html>