<!-- Plantilla de formulario para crear o editar una tarea. -->

{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="contenido" class="formulario1">
    <h1>Información tarea:</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.proyecto.label_tag }} {{ form.proyecto }} 
        {{ form.nombre.label_tag }} {{ form.nombre }}
        {{ form.descripcion.label_tag }} {{ form.descripcion }}
        {{ form.fecha_inicio.label_tag }} {{ form.fecha_inicio }}
        <p>
            <label for="{{ form.duracion.id_for_label }}">Duración (días):</label>
            {{ form.duracion }}
        </p>
        {{ form.fecha_fin.label_tag }} {{ form.fecha_fin }}
        {{ form.empleados.label_tag }} {{ form.empleados }}
        {{ form.prioridad.label_tag }} {{ form.prioridad }}
        {{ form.estado.label_tag }} {{ form.estado }}
        {{ form.notas.label_tag }} {{ form.notas }}
        <input type="submit" value="Guardar">
    </form>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/validacion.js' %}"></script>
<script src="{% static 'js/autocalculo.js' %}"></script>
{% endblock %}