{% extends "base.html" %}
{% block content %}
<section id="contenido">
    <h2>{{ cliente.nombre }} {{cliente.apellidos}}</h2>
    <h3><strong>DNI:</strong> {{ cliente.dni }}</h3>
    <p><strong>Email:</strong> {{cliente.email}}</p>
    <p><strong>Número de teléfono:</strong> {{cliente.telefono}}</p>
    <p><strong>Tareas:</strong></p>
    <ul>
    {% for lista_tarea in cliente.tarea_set.all %}  
        <li>
            <a href="{% url 'detalles_tarea' tarea.pk %}">{{ tarea.nombre }}</a>
        </li>
    {% empty %} 
        <li>
            No se le ha asignado ninguna tarea. Vuelva cuando le asignen una.
        </li>
    {% endfor %}
    </ul>    

    <button><a href="{% url 'borrar_cliente' lista_cliente.id %}">Borrar cliente</a></button>
    <button><a href="{% url 'modificar_cliente' lista_cliente.id %}">Modificar cliente</a></button>
</section>
{% endblock %}