{% extends "base.html" %}

{% block content %}
<section id="contenido" class="seccion-contenido">
    <h2 class="titulo-seccion">Empleados</h2>

    <ul style="list-style: none; padding: 0; margin-bottom: 30px;">
        {% for empleado in object_list %}
        <li class="item-lista">
            <a href="{% url 'detalles_empleado' empleado.id %}" class="link-lista">
                {{ empleado.nombre }} {{ empleado.apellidos }}
            </a>
        </li>
        {% empty %}
        <li class="mensaje-vacio">No hay empleados registrados.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'crear_empleado' %}" class="boton-nuevo">
        + Crear nuevo empleado
    </a>
</section>
{% endblock %}
