<!--  Plantilla de confirmación de eliminación de empleado. -->

{% extends "base.html" %}
{% block content %}
<section id="contenido" class="borrar1">
    <h1 class="titulo-detalle">¿Quieres eliminar a?</h1>

    <form method="post" class="form-eliminar">
        {% csrf_token %}
        <button type="submit" class="boton-accion boton-borrar">Sí, quiero eliminarlo</button>
        <a href="{% url 'lista_empleado' %}" class="boton-accion boton-editar">No, quiero eliminarlo</a>
    </form>
</section>
{% endblock %}
