{% extends "base.html" %}
{% block content %}
<section id="contenido" class="seccion-contenido">
    <h2 class="titulo-seccion">Proyectos:</h2>

    <ul style="list-style: none; padding: 0; margin-bottom: 30px;">
        {% for lista_proyecto in object_list %}
        <li class="item-lista">
            <a href="{% url 'detalles_proyecto' lista_proyecto.id %}" class="link-lista">
                {{ lista_proyecto.nombre }}
            </a>
        </li>
        {% empty %}
        <li class="mensaje-vacio">No hay proyectos registrados.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'crear_proyecto' %}" class="boton-nuevo">
        + Crear nuevo proyecto
    </a>
</section>
{% endblock %}
