{% extends "base.html" %}
{% block content %}
<section id="contenido" class="detalle-contenedor">
    <h1 class="titulo-detalle">Detalles del Proyecto</h1>

    <p><strong>Nombre:</strong> {{ lista_proyecto.nombre }}</p>
    <p><strong>Descripción:</strong> {{ lista_proyecto.descripcion }}</p>
    <p><strong>Fecha de inicio:</strong> {{ lista_proyecto.fecha_inicio }}</p>
    <p><strong>Fecha de fin:</strong> {{ lista_proyecto.fecha_fin }}</p>
    <p><strong>Presupuesto:</strong> {{ lista_proyecto.presupuesto }}</p>
    <p><strong>Cliente:</strong> {{ lista_proyecto.cliente }}</p>

    <div class="acciones">
        <a href="{% url 'borrar_proyecto' lista_proyecto.id %}" class="boton-accion boton-borrar">Borrar proyecto</a>
        <a href="{% url 'modificar_proyecto' lista_proyecto.id %}" class="boton-accion boton-editar">Editar proyecto</a>
    </div>
</section>
{% endblock %}
