<!-- Plantilla de listado de proyectos. -->

{% extends "base.html" %}
{% block content %}
<section id="contenido" class="seccion-contenido">
    <h2 class="titulo-seccion">Proyectos:</h2>

   <div class="tabla-contenedor">
    <table class="tabla-datos">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cliente</th>
                <th>Presupuesto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for lista_proyecto in object_list %}
            <tr>
                <td>{{ lista_proyecto.nombre }}</td>
                <td>{{ lista_proyecto.cliente }}</td>
                <td>{{ lista_proyecto.presupuesto }}</td>
                <td>
                    <a href="{% url 'detalles_proyecto' lista_proyecto.id %}" class="boton-ver">Ver</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="mensaje-vacio">No hay proyectos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <a href="{% url 'crear_proyecto' %}" class="boton-nuevo">
        + Crear nuevo proyecto
    </a>
</section>
{% endblock %}
