{% extends "base.html" %}
{% block content %}
<section id="contenido" class="detalle-contenedor">
    <h1 class="titulo-detalle">¿Quiere eliminar el siguiente proyecto: "{{ lista_proyecto.nombre }}"?</h1>

    <form method="post" style="margin-top: 30px; display: flex; gap: 15px;">
        {% csrf_token %}
        <button type="submit" class="boton-accion boton-borrar">Sí quiero, eliminar</button>
        <a href="{% url 'lista_proyecto' %}" class="boton-accion boton-editar">Cancelar eliminación del proyecto</a>
    </form>
</section>
{% endblock %}
